h1{
    font-weight: bold;
    font-size: 32px;
 }
 
 h4, h3{
    font-weight: bold;
    font-size: 24px;
 }
 
 p{
    font-weight: normal;
    font-size: 16px;
 }

 .header{
   background-image: url("../images/myworkCopy.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 55vh;
   display: flex;
    flex-direction: column;
 }

 .myWork1{
        color: white;
        text-align: center;
        font-size: 70px;
        box-shadow: gray;
}

 .header img{
   width: 100px;
  size: 15px;
  padding:10px;
 }

 nav li{
  padding: 1%;
  word-spacing: 15px;
  display: inline-block;
  text-align: right;
  color: white;
 }

 .workGrid {
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 33%, 33%, 33%;
    grid-template-areas: 
    "hopeforChildren imageHFC"
    "imageUSDA usdaRedesign"
    "timeCapsule imageTC";
}

.workGrid img {
    width: 100%;
}

.workGrid {
  padding:15px;
  margin: 15px;
}

.hopeforChildren {
    padding:15px;
    margin: 15px;
}

.usdaRedesign {
    padding:15px;
    margin: 15px;
}

.timeCapsule {
    padding:15px;
    margin: 15px;
} 

footer{
    background-color: #FFE599;
    width: 100%
}

footer ul li{ 
 padding: 1%;
  word-spacing: 15px;
  display: inline-block;
  text-align: right;
}

footer img {
    width: 100px;
    size: 15px;
    padding:10px;
}

.bottomPg{
    text-align:end
}


@media only screen and (max-width: 600) {

}